<a href="https://colab.research.google.com/github/Burak9150/SQL-soru-kutuphanesi/blob/main/Untitled59.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Bu meydan okuma için basit bir HAVING ifadesi oluşturmanız gerekiyor, aynı yaşta kaç kişinin olduğunu saymak ve o yaştaki 10 veya daha fazla kişiden oluşan grupları geri döndürmek istiyorsunuz.

kişi tablosu şeması
İD
isim
yaş
tablo şemasını döndür
yaş
total_people

In [ ]:
select age, count(*) as total_people
from people
group by age
having count(*) >= 10

In [ ]:
SELECT age AS age,
  count(id) AS total_people
FROM people
GROUP BY age
HAVING count(id) >= 10;