<a href="https://colab.research.google.com/github/Burak9150/SQL-soru-kutuphanesi/blob/main/Untitled58.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Bu meydan okuma için people, yaşlarının 50'nin üzerinde olduğu NEREDE tablodaki tüm sütunları döndürecek basit bir SELECT ifadesi oluşturmanız gerekir.

kişi tablosu şeması
İD
isim
yaş
Yaşları 50'nin üzerinde olan tüm insan alanlarını iade etmeli ve yaşa göre azalan sıraya göre sıralamalısınız.

SELECT *
  FROM people
  WHERE age > 50
  ORDER BY age DESC

SELECT
  id,
  name,
  age
FROM people
WHERE age > 50
ORDER BY age desc